.button__components {
  padding: 13px 32px;
  border-radius: 6px;
  background: var(--primary, #ff7010);
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
}
